@model AppUser

<style>
	#section1Container{
		display:flex;
		align-items:center;
		justify-content:center;
	}
</style>


<!--section 1-->
<section id="section1" style="margin:100px 0px;">
	<div id="section1Container" >

		<div class="card" style="width: 18rem;">
			@if (Model.Image != "")
			{
				<img class="card-img-top" src="~/Assets//Images/@Model.Image" alt="Card image cap">
			}
			else
			{
				<img  src="/Assets/Images/UserImage.jpg"/>
			}
			<div class="card-body">
				<h5 class="card-title"> <span style="color:red;">Istifadeci adi</span> @Model.UserName</h5>
				<p class="card-text"> <span style="color:red;">Adi:</span> @Model.Name</p>
				<a asp-controller="account" asp-action="getsearcheduserhouses" asp-route-username="@Model.UserName" class="btn btn-primary">Evleri</a>
			</div>
		</div>

	</div>
</section>

